body{
    background: #c8b6ff;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
}
*{
    margin: 0px;
    padding: 0px;
    text-shadow: none;
}

.top_nav h3{
    margin-left: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.top_nav{
    height: 90px;
    width: 100%;
    background: linear-gradient(#c8b6ff,#b8c0ff,#bbd0ff);
    display: flex;
    padding:30px 10px 20px ;
}
.dropdown-content {
    display: none;
    position: absolute;
    color: white;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-shadow: none;
    font-family: "Segoe UI";
}
.dropdown-content h6{
    margin-bottom:20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.box{
margin-left: 100px ;
    margin-right: 100px;
    padding: 30px;
    border-radius: 50px;
    box-shadow: black ;
    height: 150px;
    background-color: white;
    transform: translate(0px,-40px);
}
.smbox{
    margin-top: 20px;
    margin-right: 50px;
    padding: 15px 25px 15px 25px;

    border: black 3px solid;
    border-radius: 80px;
    height: 60px;
    width: 250px;

}
.benefits{
    margin-top: 20px;
    margin-left: 180px;
    display: flex;

}
.imgset img{
    margin-right: 150px;
}
.benefit{
    margin-left: 130px;
    display: flex;
}
.benefit h3{
    margin-right:90px;
}
footer{
    background: black;
    color: white;
    font-family: Arial;
    text-shadow: none;
}
nav{
    padding: 60px 60px 60px 175px;
    font-family: sans-serif;
}
nav h6{
    margin-top: 10px;
}
.top_nav h3:hover{
    color:blue ;
    text-decoration: underline;
}
.contact{
    margin-left: 300px;
}
nav input{
    width: 500px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
form textarea{
    width: 500px;
    height: 80px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
}
form button{
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
}
.svgAnimation{
    transform: none;
    transition: transform 5s ease;
}
.svgAnimation:hover{
    animation: animation1 5s ;
    animation-iteration-count: 1;
}
@keyframes animation1 {
    50%{
        rotate: 180deg;
    }

}
