*{
    margin: 0px;
    padding: 0px;
}

h3{
   padding-top: 15px;
}
.top_nav{
    height: 90px;
    width: 100%;
    background: linear-gradient(#c8b6ff,#b8c0ff,#bbd0ff);
    display: flex;
    padding:30px 10px 20px ;
    font-family: sans-serif;
}
body{
    background: linear-gradient(#c8b6ff,#b8c0ff,#bbd0ff);
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
}
.top_nav h3{
    margin-left: 60px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    max-width: 600px;
    margin-top: 80px;
    margin-left: 175px;
    margin-bottom: 150px;
    font-family: "Segoe UI";
}
.grid-container h6{
    margin-top: 10px;
}
.svgAnimation{
    transform: none;
    transition: transform 5s ease;
}
.svgAnimation:hover{
  animation: animation1 5s ;
    animation-iteration-count: 1;
}
@keyframes animation1 {
    50%{
        rotate: 180deg;
    }

}


.home1{
    color:blue ;
    text-decoration: underline;
}
.top_nav h3:hover{
    color:blue ;
    text-decoration: underline;
}
footer{
    background: black;
    color: white;
    font-family: Arial;
    text-shadow: none;
}
nav{
    padding: 60px 60px 60px 175px;
}
nav h6{
    margin-top: 10px;
}
.contact{
    margin-left: 300px;
}
form input{
    width: 500px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
form textarea{
    width: 500px;
    height: 80px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
}
form button{
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
}

.article1:hover{
animation: rotate 3s
}
@keyframes rotate {
    50%{
        transform: rotate(180deg);

    }
}

.article2:hover{
    animation: blur 3s

}
@keyframes blur {
    50%{
filter: blur(10px);
    }
}

.article3:hover{
    animation: scale 2.5s

}
@keyframes scale {
    50%{
       transform: scale(1.5);
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: white;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-shadow: none;
    font-family: "Segoe UI";
}
.dropdown-content h6{
    margin-bottom:20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
